/* :root {
    --bs-primary: #740AA1;
    --bs-primary-hover: #740AA1;
    --bs-primary-active: #740AA1;
    --bs-text-primary: #740AA1;
} */

.text-primary {
    color: #008080 !important;
}

.btn-primary {
    color: #fff !important;
    background-color:#008080 !important;
    border: none;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #1ceded !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

#input-search-group {
    background-color: #fff;
}

#input-search-group .form-control,
#input-search-group .form-control:active,
#input-search-group .form-control:focus {
    outline: 0 !important;
    border: 1px solid #ced4da !important;
    border-right: none !important;
    box-shadow: none !important;
}